<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deadpool.isccomputerscorer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainpage">
            <intent-filter>
                <action android:name="android.intent.action.MAINPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iscpaper">
            <intent-filter>
                <action android:name="android.intent.action.ISCPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spcpaper">
            <intent-filter>
                <action android:name="android.intent.action.SPCPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".book">
            <intent-filter>
                <action android:name="android.intent.action.BOOK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".about">
        <intent-filter>
            <action android:name="android.intent.action.BOOK" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

    </application>

</manifest>